replicaCount: 50
image:
  repository: nginx
  tag: latest
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 20m
    memory: 64Mi
  limits:
    cpu: 50m
    memory: 128Mi

storage:
  className: standard
  size: 1Gi
  mountPath: /usr/share/nginx/html

service:
  type: ClusterIP
  port: 80
